*.iml
*.apk
*.aab
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Firebase and Huawei AppGallery configuration files
google-services.json
agconnect-services.json

# AppGallery certificates and keys
app_gallery_cert.zip
app_gallery_certificate.pem

# Android keystore files
*.jks
KEY_STORE_adhan.jks
